---
- name: Install OpenJDK 21 and Kafka 4.0.0
  hosts: localhost
  become: yes
  vars:
    kafka_version: "4.0.1"
    scala_version: "2.13"
    kafka_user: kafka
    kafka_group: kafka
    kafka_install_dir: /opt/kafka
    kafka_data_dir: /var/lib/kafka
    kafka_log_dir: /var/log/kafka

  tasks:

    - name: Install OpenJDK 21 (RedHat/CentOS)
      yum:
        name: java-21-openjdk-devel
        state: present
      when: ansible_os_family == "RedHat"

    - name: Verify Java installation
      command: java -version
      register: java_version
      changed_when: false

    - name: Display Java version
      debug:
        var: java_version.stderr_lines

    - name: Create Kafka group
      group:
        name: "{{ kafka_group }}"
        state: present

    - name: Create Kafka user
      user:
        name: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
        shell: /bin/bash
        createhome: yes
        state: present

    - name: Create Kafka directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
        mode: '0755'
      loop:
        - "{{ kafka_install_dir }}"
        - "{{ kafka_data_dir }}"
        - "{{ kafka_log_dir }}"

    - name: Download Kafka 4.0.0
      get_url:
        url: "https://dlcdn.apache.org/kafka/{{ kafka_version }}/kafka_{{ scala_version }}-{{ kafka_version }}.tgz"
        dest: "/tmp/kafka_{{ scala_version }}-{{ kafka_version }}.tgz"
        mode: '0644'

    - name: Extract Kafka archive
      unarchive:
        src: "/tmp/kafka_{{ scala_version }}-{{ kafka_version }}.tgz"
        dest: "{{ kafka_install_dir }}"
        remote_src: yes
        owner: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
        extra_opts: [--strip-components=1]

    - name: Configure Kafka server properties
      lineinfile:
        path: "{{ kafka_install_dir }}/config/server.properties"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - { regexp: '^log.dirs=', line: 'log.dirs={{ kafka_data_dir }}' }
        - { regexp: '^#?listeners=', line: 'listeners=PLAINTEXT://:9092' }

    - name: Create Kafka environment configuration
      copy:
        dest: /etc/profile.d/kafka.sh
        content: |
          export KAFKA_HOME={{ kafka_install_dir }}
          export PATH=$PATH:$KAFKA_HOME/bin
        mode: '0644'

    - name: Add Kafka path to user profile
      lineinfile:
        path: "/home/{{ kafka_user }}/.bashrc"
        line: "{{ item }}"
        create: yes
        owner: "{{ kafka_user }}"
        group: "{{ kafka_group }}"
      loop:
        - "export KAFKA_HOME={{ kafka_install_dir }}"
        - "export PATH=$PATH:$KAFKA_HOME/bin"


    - name: Clean up downloaded archive
      file:
        path: "/tmp/kafka_{{ scala_version }}-{{ kafka_version }}.tgz"
        state: absent

    - name: Display installation complete message
      debug:
        msg: |
          Kafka 4.0.0 installation completed!

          Kafka is installed at: {{ kafka_install_dir }}
          Data directory: {{ kafka_data_dir }}
          Log directory: {{ kafka_log_dir }}